.about-container {
  width: 80%;
  margin: auto;
}

.column1 h1 {
  font-size: 40px;
  margin-top: 40px;
}

.column1 h2 {
  margin: 0px;
}

.column1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(224, 217, 217);
}

.row1 {
  display: flex;
  align-items: top;
  margin: 20px 0px;
}
.row1 img {
  width: 20px;
  height: 20px;
  padding: 0 20px;
}
.row1 p {
  margin: 0;
  text-align: left;
}

.sub-column2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  margin: auto;
}
.sub-column2 div {
  width: 30%;
}

.column2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(224, 217, 217);
  padding-bottom: 25px;
}

.item1 {
  width: 300px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.item1 img {
  width: 100px;
  width: 100px;
}

.column3 {
  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.item2 {
  display: flex;
  align-items: center;
}
.item2 img {
  width: 52.5%;
  height: 275px;
}
.p1 {
  text-align: center;
  width: 50%;
  padding-left: 20px;
}
.p2 {
  text-align: center;
  width: 50%;
  padding-right: 20px;
}

.column4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(224, 217, 217);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(224, 217, 217);
}

.a-btn {
  cursor: pointer;
  background-color: #0061a7;
  margin-bottom: 20px;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  width: 200px;
  opacity: 0.9;

  font-size: 15px;
  color: white;
  font-weight: bold;
}

.a-btn:hover {
  opacity: 1;
}

/*Slider CSS*/
.image-slider {
  text-align: center;
  font-size: 18px;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding-top: 0;
}

#slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
}

.single-slide {
  background-size: 1300px;
  background-repeat: no-repeat;
  background-position: center top;
  height: 400px;
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0px;
}

#slider-nav {
  position: relative;
  top: -230px;
}

#slider-nav:hover {
  cursor: pointer;
}

#slider-prev {
  position: relative;
  float: left;
  left: 40px;
}

#slider-prev img {
  width: 50px;
  height: 50px;
}

#slider-next {
  position: relative;
  float: right;
  right: 40px;
}

#slider-next img {
  width: 50px;
  height: 50px;
}

@-webkit-keyframes slideIn {
  100% {
    left: 0;
  }
}

@keyframes slideIn {
  100% {
    left: 0;
  }
}

.slide-in-right {
  left: -100%;
  -webkit-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}

.slide-in-left {
  left: 100%;
  -webkit-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}

@-webkit-keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

@keyframes slideOutLeft {
  100% {
    left: -100%;
  }
}

.slide-out-left {
  -webkit-animation: slideOutLeft 2s forwards;
  animation: slideOutLeft 2s forwards;
}

@-webkit-keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

@keyframes slideOutRight {
  100% {
    left: 100%;
  }
}

.slide-out-right {
  -webkit-animation: slideOutRight 2s forwards;
  animation: slideOutRight 2s forwards;
}
