*{
	margin:0;
	padding:0;
	box-sizing:border-box;	
	}
body{
	background-color:#FBFBFF;	
		
}

 #vnavBar{
		 display:flex;
		 justify-content:space-around;
		 align-items:center;
		 min-height:8vh;
		
		 
		 
		 font-family: 'Poppins', sans-serif;
		 
	 }
	.vendorNavbar{
    display:flex;
	justify-content:space-around;
	width:100%;
 
  
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
li a {
    color: #948392;
    
	letter-spacing:3px;
	font-size:10px;
	font-weight:bold;
    text-align: center;
    padding: 14px 16px;
	
}

li a:hover {
    background-color: #948392;
	color:white;
}
hr{
	margin:0px 10px;
}