*{
	padding:0px;
	margin:0px;
}

body{
   background-color:#FBFBFF;
}
fieldset{
	background-color:#F6F4F3;
  
}
textarea{
	display:block;
	margin-top:5px;
    background-color:#FBFBFF;
	
}
.profilepic{
	margin:10px;
	
}
.data{
	margin-left:10px;
	margin-top:10px;
}.data img{
	display:block;
	margin:10px;
	
}.acdetails{
	margin-right:20px;
	margin-left:20px;
	margin-top:20px;
	width:70%;
}.data{
	display:flex;
}.data input{
	width:250px;
	height:40px;
	background-color:#FBFBFF;
}.profilebtn{
	display:flex;
	float:right;
	margin:10px;
	
	justify-content:space-evenly;
}#edit{
	margin-right:10px;
	
}#delete{
	margin-left:10px;
	
}.profilebtn input{
	width:100px;
	background-color:#FBFBFF;
}#propic{
	background-color:#F6F4F3;
	display:none;
}.acdetails label,input{
	display:block;
	
}
.acdetails input{
	margin-top:10px;
}
.profilepic label{
	margin:10px;
}

