*{
	padding:0px;
	margin:0px;
}

body{
	        background-color:#FBFBFF;
}

textarea{
	display:block;
}
.data{
	margin-left:10px;
	margin-top:10px;
}img{
	display:block;
}.acdetails{
	margin:50px;
	width:50%;
}.data{
	display:flex;
}.data input{
	width:60%;
	height:40px;
	
}.profilebtn{
	display:flex;
	float:right;
	margin:10px;
	
	justify-content:space-evenly;
}#update{
	margin-right:10px;
	
}#delete{
	margin-left:10px;
	
}.profilebtn input{
	width:100px;
}
