   
    * {
        /* by removing this line fixed header collapsion */
        /* but still font changed */
        /* box-sizing: border-box; */
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    body {
     
        background-color:#FBFBFF;	
    
    }
	.whole{
		display:flex;
		background-color:#F1F2F6;
		margin:10px;
		border-radius:10px;
	}
	.category_display{
		width:70vw;
		height:70vh;
		
	}
	
.ads{
	display:flex;
	flex-wrap:wrap;
}
    
     #vnavBar{
		 display:flex;
		 justify-content:space-around;
		 align-items:center;
		 min-height:8vh;
		 font-family: 'Poppins', sans-serif;
		 
	}
	.vendorNavbar{
    display:flex;
	justify-content:space-around;
	width:100%;
   
}

.display{
	margin:10px;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
li a {
    color: #948392;
    
	letter-spacing:3px;
	font-size:10px;
	font-weight:bold;
    text-align: center;
    padding: 14px 16px;
	
}

 li a:hover {
    background-color: #948392;
	color:white;
}
 hr{
	margin:0px 10px;
   } 
    textarea {
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
		/*Resposive to the parent*/
		 max-width: 100%;
       
    }
    
    .ads-details {
    display:flex;
	background-color:#F6F4F3;
  
	
    }
    
    .container {
        max-width: 700px;
        width: 80vw;
	
		height:70vh;
        background: #F6F4F3;
        padding: 25px 30px;
        border-radius: 10px;
		
    }
    
    .container .title {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
		margin-top:-10px;
      
        background:#DCD4D0;
    }
    
   
    
    .ads-details .inputs input {
        height: 40px;
        width: 95%;
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
        border-color: white;
		
    }
    
   
    
    .ads-details .cinputs input {
        height: 40px;
        width: 90%;
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
        border-color: white;
    }
    
    .sdbutton {
       
        display: flex;
    }
    
/*buttons*/
    .sdbutton #saved {
        margin-right: 10px;
        background-color: #DCD4D0;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }
    
     .sdbutton #cancel {
        background-color:#DCD4D0;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
    }
	
    
    .ads-details .inputs {
        margin: 10px 0px;
		
	
    }
    
    .ads-details .cinputs {
        margin: 10px 0px;
	
    }
    
  
	
	.left{
		width:50%;
		
		background:#F6F4F3;

		
	}
	.right{
		width:50%;
		background:#F6F4F3;
		margin-left:5px;
	}
	.bk{
		display:block;
	}
	#insertSucess{
		
		content:'Data inserted successfully';
		display:none;
	}
	.sdbutton{
		float:right;
	}
	
	.only{
	background:blue;
	height:50vh;
	width:50%;
    display:flex;
	justify-content:center;
	align-items:center;	
    }

	#severSucess{
		color:green;
	}

	span{
		font-size:12px;
	}
	small{
		font-size:10px;
	}
	h3{
		text-align:center;
	}
	