 /*By It20654962*/  
    * {
   
        padding: 0;
        margin: 0;
        
    }
    
    body {
     
        background-color:#FBFBFF;	
    
    }
	.whole{
		display:flex;
		background-color:#F1F2F6;
		margin:10px;
		border-radius:10px;
	}
	.payment_display{
		width:70vw;
		height:70vh;
		position
		
	}
	
.ads{
	display:flex;
	flex-wrap:wrap;
}
    


.display{
	margin:10px;
}
 
    textarea {
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
		/*Resposive to the parent*/
		 max-width: 100%;
       
    }
    
    .ads-details {
    display:flex;
	background-color:#F6F4F3;
  
	
    }
    
    .container {
        max-width: 700px;
        width: 80vw;
	
		height:70vh;
        background: #F6F4F3;
        padding: 25px 30px;
        border-radius: 10px;
		
    }
    
    .container .title {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
		margin-top:-10px;
      
        background:#DCD4D0;
    }
    
   
    
    .inputs input {
        height: 40px;
        width: 95%;
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
        border-color: white;
		
    }
    
   
    
    .cinputs input {
        height: 40px;
        width: 90%;
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
        border-color: white;
    }
    
    .sdbutton {
       
        display: flex;
		position:absolute;
		bottom:20px;
		right:20px;
    }
    
/*buttons*/
.button input{
	  background-color: #DCD4D0;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
	
}
    .sdbutton #saved {
        margin-right: 10px;
      
    }
   
	   
    .inputs {
        margin: 10px 0px;
		
	
    }
    
    .cinputs {
        margin: 10px 0px;
	
    }
    
  
	
	.left{
		width:50%;
		
		background:#F6F4F3;

		
	}
	.right{
		width:50%;
		background:#F6F4F3;
		margin-left:5px;
	}
	.bk{
		display:block;
	}
	#insertSucess{
		
		content:'Data inserted successfully';
		display:none;
	}
	.sdbutton{
		float:right;
	}
	
	.only{
	background:blue;
	height:50vh;
	width:50%;
    display:flex;
	justify-content:center;
	align-items:center;	
    }

	#severSucess{
		color:green;
	}

	span{
		font-size:12px;
	}
	small{
		font-size:10px;
	}
	h2{
		text-align:center;
		font-size:14px;
	}
	#paymentTitle{
		 font-size: 25px;
        font-weight: 500;
        text-align: center;
		margin-top:15px;
      
        background:#DCD4D0;
		margin-right:10px;
		
	}
	.pay{
		margin-left:10px;
		
	}
	#amountInput{
		width:50%;
	}
	.Message{
		visibility:hidden;
	}