 /*By It20654962*/  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
   

   * {
   
        padding: 0;
        margin: 0;
        
    }
    
    body {
     
        background-color:#FBFBFF;	
    
    }
	/*styling and positioning whole div*/
	.whole{
		display:flex;
		font-family: 'Poppins', sans-serif;
	 
		border-radius:10px;
		background:linear-gradient(354deg, rgba(45,159,224,0.7917542016806722) 0%, rgba(99,218,247,0.27914915966386555) 88%);		
		height:80vh;
		width:80%;
		padding:10px;
		border:5px solid #BFD7FF;
		font-size:32px;
		margin:30px 100px 30px 125px;
		color:purple;
	}
	
	
 /*stlying textarea element*/
    textarea {
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
		/*Resposive to the parent*/
		 max-width: 100%;
       
    }
    /*make content inside ads-details div display flexed (horizintaly next to each other) and  */
    .ads-details {
    display:flex;
	

	height:100%;
	
    }
    /*positioning container div and set witdth and height resposive to whole div  and set border radius*/
    .container {

        width:100%;
	
		height:85%;
      
        padding: 25px 5px 25px 5px;
        border-radius: 10px;
		

		
    }
    /*style and  position titles inside container*/
    .container .title {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
		margin-top:-10px;
      
        background:#DCD4D0;
    }
    
   
    /* style and position  advertisement details input tag*/
    .inputs input {
        height: 40px;
        width: 200px;
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
        border-color: white;
		
    }
    
    /* style and position  contact details input tag*/
    .cinputs input {
        height: 40px;
          width: 200px;
        outline: none;
        border-radius: 5px;
        border-bottom-width: 2px;
        border-color: white;
    }	 
   /*positin inputs div*/	
    .inputs {
        margin: 5px 0px;	
    }  
	/*positin cinputs div*/
    .cinputs {
        margin: 5px 0px;	
    }	
	/*sizing left div*/
	.left{
		width:38%;		
	}
	/*sizing and posistioning right div*/
	.right{
		width:25%;
		margin-left:5px;		
	}
	/*set display block for all the elements(input span small) which belongs to bk class*/
	.bk{
		display:block;
	}	
 	/* give font size for all the span tags inside whole div*/	
		.whole span{
		font-size:12px;
	}
		/* give font size for all the small tags inside whole div*/	
	.whole small{
		font-size:10px;
	}
		/* give font size for all the h2 tags inside whole div*/	
	.whole h2{
		
		font-size:14px;
	}
	/*#paymentTitle{
		 font-size: 25px;
        font-weight: 500;
        text-align: center;
		margin-top:15px;     
        background:#DCD4D0;
		margin-right:10px;		
	}*/
    /*message hidden for form validattion*/	
	.Message{
		visibility:hidden;
	}
	/*hide file button to create a custom fileupload button*/
	.iinputs #adsfileImage{
		display:none;
		width:10px;
	}
	/*make label inside image niputs div,a block element*/
	.iinputs label{
		display:block;
	}
	/*sizing image input div*/
	.iinputs{
		width:100px;
	}
	/*posistioning payment-details div*/
	.payment-details{
		display:flex;
		margin-left:10px;
	
	}
	/*posistioning form button*/
	.sdbutton {       
        display: flex;	  
		float:right;
	    margin-top:200px;
    }   
/*style input tags inside button div*/
.button input{
	  background-color: #BFD7FF;
      padding: 5px 15px;
      border-radius: 5px;
      outline:none;	 
      border:none;	  
}
/*posistionings save button*/
.sdbutton #saved {
        margin-right: 10px;
      
  }
  /*posistioning choose a payment selector*/
  #payment-margin{
	  margin-top:10px;
  }