.nav__login {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:10px 11px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
.nav__login:hover {
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color:#0061a7;
}
.nav__login:active {
    position:relative;
    top:1px;
}

.main_title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xxx-large;
}

.statics {
    margin-top: 55px;
    /* background-color: rgb(240, 240, 240); */
}
    .stat__container {
        background-color: tomato;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }
        .stat__box {
            width: 200px;
            padding: 5px 5px;
            border: 2px solid rgb(158, 158, 158);
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }

        .stat__box h3 {
            text-align: center;
            color: rgb(128, 128, 128);
        }
        .stat__box h1 {
            margin: 0px;
            font-size: xx-large;
            text-align: center;
            color: rgb(0, 0, 0);
        }


.ann__btn {
    margin-bottom: 4px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.ann__btn a {
    margin-left: auto;
    margin-right: 10px;
}


/* Tab System -------------------------------------------------- */

.tabSystem {
    margin-top: 5px;
}

.tabTitle {
    margin-top: 0px;
    text-align: center;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    color: white;
  background-color: rgb(54, 124, 255);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* End of tab system */




.user__table {
    margin: 10px;
}

.ad__table {
    margin: 10px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#customers tr:nth-child(even){
    background-color: #f2f2f2;
}
  
#customers tr:hover {
    background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b4b4b4;
    color: white;
}

#customers button {
    background-color: #f2f2f2;
}