.main_title {
    text-align: center;
}

.ann__btn {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.ann__btn a {
    margin-left: auto;
    margin-right: 10px;
}

.user__table {
    margin: 10px;
}

.ad__table {
    margin: 10px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#customers tr:nth-child(even){
    background-color: #f2f2f2;
}
  
#customers tr:hover {
    background-color: #ddd;}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b4b4b4;
    color: white;
}

#customers button {
    background-color: #f2f2f2;
}