/*BY IT20654962*/  
  *{
	padding:0px;
	margin:0px;

    }
	body{
	
  
    
         
		 background-color:#FBFBFF;
	
	}
	.alternative{
			display:block;
	}table{
	  
	   width:288px;
	   margin-bottom:5px;
	   border-collapse: collapse;
	}tr{
		overflow-wrap: break-word;
	
	}tbody{
	   box-sizing:border-box;
		width:100%;
		 word-break: break-word;
	}

	
.ads{
	display:flex;
	flex-wrap:wrap;
}
.display{
	margin:10px;
}

#View_advertisement{
	
	 margin-left:10px;

}
tr td a{
	color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
 #edit{
	background-color:blue;
	
}
 #delete{
	background-color:red;
	
}
.display img{
	display:block;
}
.adpara{
	text-align:center;
	
}