/*BY IT20654962*/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); 
  *{
	padding:0px;
	margin:0px;

    }
	/*setting body color*/
	body{
	
  
    
         
		 background-color:#FBFBFF;
	
	}

	/*positioning tables*/
	.display table{
	  
	   width:288px;
	   margin-top:15px;
	    margin-left:30px;
		margin-bottom:15px;
	   border-collapse: collapse;
	 
	  
	}
	/*if words  in the table row over flows it breaks the word and goes to next line*/
	.display tr{
		overflow-wrap: break-word;
	
	}
	/*sizing table body according to box module and setting width relative to parent*/
	.display tbody{
	   box-sizing:border-box;
	   width:100%;
	   word-break: break-word;
		
		
	}

/*styling adsInventory*/	
.ads{
	display:flex;
	flex-wrap:wrap;
    background:url('../img/VendorAccount/adinventory.jpg') center/cover no-repeat;
	
	border:5px solid RGBA(225,90,151,0.39);
	border-radius:10px;
	margin:30px 100px 30px 125px;
	font-family: 'Poppins', sans-serif;
}
/*setting margin for tables*/
.display{
	margin:10px;
}
/*styling edit and delete links*/
tr td a{
	color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
/*setting background-color for edit link*/
 #edit{
	background-color:#1C5D99;
	
}
/*setting background-color for delete link*/
 #delete{
	background-color:#E85D75;
	
}
/*removing unwanted bottom margin from img tag*/
.display img{
	display:block;
}
/*styling columns*/
.adpara{
	color:#FBFBFF;
	text-align:center;
	background-color:RGBA(86,120,230,0.55);
	
}