/* Tab Section------------------------------------------------------------------- */
/* body {font-family: Arial;} */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  /* ------------------------------------------------------------------- */
  
  
  .custDash {
      background-color: thistle;
  }
  
      .cust__tabs {
          background-color: white;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          max-width: 500px;
          margin: 5px;
          padding: 5px;
      }
      .cust__tabs button {
          width: auto;
      }
  
      .cust__profileinfo {
          background-color: rgb(255, 115, 72);
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin: 5px;
      }
  
          .cust__profilePic {
              height: 100px;
              width: 100px;
          }
          .cust__info {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
          }
      
      .cust__vendorteam {
          background-color: rgb(255, 115, 72);
          display: flex;
          flex-direction: row;
          justify-content: space-around;
      }
  