body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.announcements h4{
  /* display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(255, 0, 0); */
  
}

/* Tab System -------------------------------------------------- */

.tabSystem {
  margin-top: 5px;
}

.tabTitle {
  margin-top: 0px;
  text-align: center;
  color: white;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
overflow: hidden;
/* border: 1px solid #ccc; */
background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  color: white;
background-color: rgb(54, 124, 255);
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

/* End of tab system */
  
  
  .custDash {
      /* background-color: thistle; */
  }
  
      .cust__tabs {
          background-color: white;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          max-width: 500px;
          margin: 5px;
          padding: 5px;
      }
      .cust__tabs button {
          width: auto;
      }
  
      .cust__profileinfo {
          /* background-color: rgb(255, 115, 72); */
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin: 5px;
      }
  
          .cust__profilePic {
              height: 100px;
              width: 100px;
              margin: auto;
          }
          .cust__info {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              margin: auto;
          }
      
      .cust__vendorteam {
          /* background-color: rgb(255, 115, 72); */
          display: flex;
          flex-direction: row;
          justify-content: space-around;
      }
  