
body{
	background-image: url("../img/search/img51.jpg");
}
.btn{
  background-color:#ffffff;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.btn:hover {
  
  background-color: #e5ccc9;

}


.form1{

  width:40%;
  height:90%;
  position:absolute;
  left:1000px;
  top:200px;
  border-radius: 5px;
  padding: 20px;
}


input[type=text], select, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid  #7D0552;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background:none;
}



table{
	margin-top:700px;
	margin-left: 280px;
	width:1000px; 
	border-color: #ffffff;
}

th{
	font-size: 20px;
	font-weight: bold;
	color:#000061;
	text-align: center;
    font-family: "Candara";
}

td{
	font-size: 15px;
	color:#000000;
	text-align: center;
    font-family: "Candara";
}

