
.nav__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  place-items: center;
  background-color: white;
  z-index: 99999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.nav__logo img{
  height: 80px;
  width: 200px;
  margin-left: 5px;
}

.nav__links ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__links ul li a{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding: 0px 20px 0px;
  text-decoration: none;
  font-size: large;
  color: black;
}

/* .nav__links ul li button{
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:5px 5px 5px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
} */

.nav__btn button {
  background-color: black;
  border-radius: 100px;
  color: white;
  border-color: white;
  border-style: solid;
  padding: 5px 8px 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.nav__links ul li:hover{
  transform: scale(1.2);
  transition-duration: .5s;
}

.links {
  list-style: none;
}


.nav__search {
  padding: 5px;
}
  .nav__search input {
      /* border-radius: 4px; */
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid #ebebeb;
      height: 25px;
      /* width: 300px; */
      float: left;
  }

  .nav__search input:focus {
    outline: none;
    border-bottom-color: #407bff;
  }

  .nav__search button {
      border-radius: 4px;
      border: none;
      background-color: white;
      height: 15px;
      width: 15px;
      cursor: pointer;
  }


@media screen and (max-width: 1000px) {
  .nav__links ul li a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 0px 10px 0px;
    text-decoration: none;
    font-size: medium;
    color: black;
  }

  .nav__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav__search input {
    /* border-radius: 4px; */
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ebebeb;
    height: 25px;
    width: 50px;
    float: left;
  }

  .nav__logo img{
    height: 40px;
    width: 100px;
    margin-left: 5px;
  }
}


/* Buttons */
.button {
  /* background: #000000;
  border-radius: 100px;
  border-color: white;
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: large;
  box-shadow: none; */
  /* margin: 0 15px; */
}

.wrapper {
  margin-top: 100px;
}




