*{
	margin:0;
	
};



.main-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
};
.image-slider{
	width:1%;
	display:flex;
};