/*login page styles(choose type)*/
.m-container {
  text-align: center;
}
.m-container h1 {
  font-size: 40px;
  color: black;
}

.m-types {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.m-type img {
  width: 300px;
  height: 300px;
}

.m-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-btn1,
.m-btn2 {
  cursor: pointer;
  margin-top: 20px;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  width: 250px;
  /* opacity: 0.9; */

  font-size: 15px;
  font-weight: bold;
}

.m-btn1 {
  background-color: #da5461;
}

.m-btn2 {
  background-color: #f9da55;
}

.m-btn1:hover,
.m-btn2:hover {
  filter: brightness(95%);
}
