/*BY IT20654962*/
*{
	margin:0px;
	padding:0px;
	/*box-sizing:border-box;*/
}
body{
	 background-color:#FBFBFF;	
    
}.pays{
	display:flex;
	justify-content:center;
	align-items:center;
	
}
table{	  
	  width:90%;
	  margin:10px;
	  margin-right:10px;
	  border-collapse: collapse;
}tr{
	  text-align:center;
	  overflow-wrap: break-word;
	
}tbody{
	 
		 word-break: break-word;
}
th{
	background:blanchedalmond;
}
 